.history {

    padding: 10rem 0;
    background-color: #fff;

    &__title {
        font-size: 4.6rem;
        line-height: 6rem;
        text-align: center;
        margin-bottom: 4.4rem;
    }

    &__wrapper {}

    &__row {
        display: flex;
        gap: 3rem;
        min-height: 18rem;

        &:not(:last-child) {

            .history__row-line {
                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 3rem;
                    left: calc(50% - .1rem);
                    height: calc(100% - 4rem);
                    width: .1rem;
                    background-color: #F60;
                }
            }
        }
    }

    &__row-year {
        color: #F60;
        font-size: 3.6rem;
        line-height: 1;
        flex: 0 0 19.5rem;
        text-align: right;
    }

    &__row-line {

        position: relative;

        img {
            top: .7rem;
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &__row-content {
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 4rem;

        p {
            font-size: 1.6rem;
            line-height: 2.6rem;
            max-width: 84rem;
        }

        ul {

            display: flex;
            flex-direction: column;
            gap: .6rem;
            margin-top: 1.6rem;

            li {
                padding-left: 2.5rem;
                position: relative;
                font-size: 1.6rem;
                line-height: 2.6rem;

                &::before {
                    content: "";
                    width: 2rem;
                    height: .1rem;
                    display: inline-block;
                    background-color: #282828;
                    position: relative;
                    top: -.5rem;
                    left: -1.5rem;
                }
            }
        }
    }

    &__row-director {

        display: flex;
        gap: 2.2rem;
        align-items: center;
        margin-top: 4.4rem;

        img {
            width: 15rem;
            height: 15rem;
        }

        p {
            font-size: 1.6rem;
            line-height: 2.6rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            span {
                display: inline-block;
                font-size: 2.4rem;
                line-height: 2.6rem;
                font-weight: 700;
            }

        }
    }

    &__wrapper-mobile {
        display: flex;
        flex-direction: column;
    }

    &__row-certificates {
        display: flex;
        gap: 1rem;
        margin-top: 3.3rem;

        a {
            width: 18rem;
            border: 1px solid rgba(40, 40, 40, 0.20);

            img {
                width: 100%;
            }
        }
    }

    &__show-more {
        display: none;
    }
}

@media (max-width: 991px) {
    .history {

        &__row-certificates {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 768px) {

    .history {

        padding: 4rem 0;

        &__title {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 4rem;
        }

        &__row {
            flex-direction: column;
            gap: 1rem;
            border-bottom: 1px dashed rgba(40, 40, 40, 0.10);
        }

        &__row-year {
            font-size: 24px;
            line-height: 30px;
            flex: auto;
            text-align: left;
            padding-top: 2rem;
        }

        &__row-content {
            padding-left: 0;
            padding-bottom: 2rem;

            p {
                font-size: 14px;
                line-height: 22px;
            }

            ul {
                li {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }

        &__row-certificates {
            margin-top: 2.5rem;

            a {
                width: 120px;
            }
        }

        &__wrapper-mobile {
            display: none;
        }

        &__row-line {
            display: none;
        }

        &__row-director {
            margin-top: 2rem;

            img {
                width: 8rem;
                height: 8rem;
            }

            p {
                gap: 0;

                font-size: 13px;
                line-height: 26px;

                span {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }

        &__show-more {
            display: flex;
            justify-content: space-between;
            margin-top: 0.8rem;
            align-items: center;
            gap: 2rem;

            span {
                font-size: 14px;
                color: #F60;
                line-height: 22px;
            }

            img {
                width: 1rem;
                transition: .3s;
            }

            &.opened {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}